Flask==3.0.0
numpy==1.24.0
Pillow==10.1.0
keras==2.13.1
tensorflow==2.13.1
torch==2.1.0
torchvision==0.16.0
tqdm==4.66.1
werkzeug~=3.0.1
Flask-HTTPAuth==4.8.0
Flask-RESTful==0.3.10
influxdb-client==1.38.0