<div class="feeder">
  <div class="description row">
    <div class="col-9 text-ellipsis">
      {{feeder.description}}
    </div>
    <div class="col-3">
      <div class="row buttons">
        <i class="far fa-edit" (click)="edit(feeder)"></i>
        <i class="far fa-trash-alt" (click)="delete(feeder)"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6"><img src="assets/img/feeder.jfif" alt="" width="90" height="140" /></div>
    <div class="col-6 sensor">
      <div class="temperature">{{lastTemperature | number: '1.0-2' }} °C</div>
      <div class="humidity">{{lastHumidity | number: '1.0-2' }} %</div>
      <div class="co">{{lastCo | number: '1.0-2' }} ppm</div>
      <div class="bird" *ngIf="feeder.birdFiles.length > 0">
        <i class="fas fa-dove fa-2x color-secondary" (click)="gotoGallery(feeder)"></i>
      </div>
    </div>
  </div>
</div>
